.container {
    display: flex;
    margin: 1em;
}

.box1 {
    height: 50px;
    width: 50px;
    background-color: red;
}

.box2 {
    height: 100px;
    width: 50px;
    background-color: blue;
}

.box3 {
    height: 50px;
    width: 50px;
    background-color: greenyellow;
}

#container-1 {
    justify-content: space-between;
}

#container-2 {
    justify-content: flex-end;
    align-items: center;
}

#container-3 {
    justify-content: center;
    align-items: baseline;
}

#container-4 {
    justify-content: space-around;
    align-items: baseline;
}

#container-5 {
    justify-content: center;
    align-items: baseline;
    column-gap: 1em;
}