body {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10em;
}

#controls {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.box {
    width: 300px;
    height: 700px;
    border: 1px black solid;
}