body {
    display: flex;
    flex-direction: column;
}

#buttons {
    display: flex;
    justify-content: center;
    gap: 1em;
    text-align: center;
}

.selected {
    background-color: black;
    color: white;
}

#additonal-os {
    width: 100%;
}