main{
    display: flex;
}

.content {
    background-color: gray;
    background-color: #E8E2E2;
}

nav {
    background-color: #5D3891;
    color: white;
}

header {
    background-color: #F99417;
    text-align: center;
}

footer {
    text-align: center;
    background-color: #F5F5F5;
    flex-grow: 1;
}